################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GitPlayground/v17
/.vs/GitPlayground/CopilotIndices/17.14.1231.31060
/.vs
